# ** Data Import and Cleaning**

## Objectives

* Fetch dataset and load
* clean data

## Inputs

* Require's Python 3.12.8

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* Data was found on https://www.iea.org/data-and-statistics/data-product/energy-and-emissions-per-value-added-database#documentation

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [4]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\sayed\\OneDrive\\Documents\\Code institute\\Capstone\\Capstone\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [5]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [6]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\sayed\\OneDrive\\Documents\\Code institute\\Capstone\\Capstone'

# Loading Dataset

We will import the necessary libraries needed in this notebook

In [7]:
import pandas as pd
import numpy as np

Next we load the dataset

In [8]:
# Load the IEA energy values added CSV from the current directory
file_path = 'IEA_Energy_ValueAdded.csv'
df_raw = pd.read_csv(file_path)
print(df_raw.head())

  Country ISO3 Country  Year ISIC Division  \
0          NaN   ASEAN  2000         10-12
1          NaN   ASEAN  2000         13-15
2          NaN   ASEAN  2000            16
3          NaN   ASEAN  2000         17-18
4          NaN   ASEAN  2000            19

                                  ISIC Division Desc         Measure  Method  \
0  Manufacture of food products, beverages and to...  Current prices  Source
1  Manufacture of textiles, wearing apparel, leat...  Current prices  Source
2  Manufacture of wood and of products of wood an...  Current prices  Source
3         Manufacture of paper products and printing  Current prices  Source
4  Manufacture of coke and refined petroleum prod...  Current prices  Source

   Value LCU (million national currency)  Value USD (million USD)
0                                    0.0                  27994.1
1                                    0.0                  15065.1
2                                    0.0                   3053.9
3                                    0.0                   4702.5
4                                    0.0                  13710.3

In [12]:
# Quick look at the data
df_raw.describe()

,Year,Value LCU (million national currency),Value USD (million USD)
count,27331.000000,2.725500e+04,2.725500e+04
mean,2009.784604,2.028600e+06,4.375378e+04
std,5.928038,1.924482e+07,1.824009e+05
min,2000.000000,-2.822300e+04,-1.390223e+04
25%,2005.000000,7.200400e+02,4.988300e+02
50%,2010.000000,6.196000e+03,2.353630e+03
75%,2015.000000,4.972175e+04,1.220437e+04
max,2021.000000,8.071376e+08,3.920983e+06

In [13]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27331 entries, 0 to 27330
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country ISO3                           24556 non-null  object
 1   Country                                27331 non-null  object
 2   Year                                   27331 non-null  int64
 3   ISIC Division                          27331 non-null  object
 4   ISIC Division Desc                     27331 non-null  object
 5   Measure                                27331 non-null  object
 6   Method                                 27331 non-null  object
 7   Value LCU (million national currency)  27255 non-null  float64
 8   Value USD (million USD)                27255 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.9+ MB

Before cleaning the data, we will remove columns that aren't necessary for our analysis. Let check the "Measure" feature and see what it's about

In [9]:
unique_measures = df_raw['Measure'].unique()
print(unique_measures)

['Current prices' 'Constant 2015 prices']

In [11]:
current_prices_count = df_raw[df_raw['Measure'] == 'Current prices'].shape[0]
constant_prices_count = df_raw[df_raw['Measure'] == 'Constant 2015 prices'].shape[0]

print(f"Number of rows with 'Current prices': {current_prices_count}")
print(f"Number of rows with 'Constant 2015 prices': {constant_prices_count}")

Number of rows with 'Current prices': 18186
Number of rows with 'Constant 2015 prices': 9145

Doing some research, we learn that the "Constant prices" aim to remove the effect of inflation or deflation, allowing for a clearer picture of real economic growth. In our dataset the base is 2015, so the prices have been adjusted to reflect what the Goods and services would have been if prices had remained at 2015 levels. This is useful information so we will keep this feature

In [14]:
unique_measures = df_raw['Method'].unique()
print(unique_measures)

['Source' 'Rebased']

'Source' indicates that the data was obtained directly from it's original source without any modification whilst rebased means it was calculated based on other datapoints. This is not useful information for our project so this column will be removed

In [15]:
unique_measures = df_raw['Country ISO3'].unique()
print(unique_measures)

[nan 'ARG' 'AUS' 'AUT' 'BEL' 'BRA' 'BRN' 'BGR' 'KHM' 'CAN' 'CHL' 'TWN'
 'COL' 'CRI' 'HRV' 'CYP' 'CZE' 'DNK' 'EST' 'FIN' 'FRA' 'DEU' 'GRC' 'HKG'
 'HUN' 'ISL' 'IND' 'IDN' 'IRL' 'ISR' 'ITA' 'JPN' 'KAZ' 'KOR' 'LAO' 'LVA'
 'LTU' 'LUX' 'MYS' 'MLT' 'MEX' 'MAR' 'MMR' 'NZL' 'MKD' 'NOR' 'CHN' 'PER'
 'PHL' 'POL' 'PRT' 'ROU' 'RUS' 'SAU' 'SRB' 'SGP' 'SVK' 'SVN' 'ZAF' 'ESP'
 'SWE' 'CHE' 'THA' 'NLD' 'TUN' 'TUR' 'GBR' 'USA' 'VNM']

Code apprevations for each country. We shall keep this feature. The nan's in the rows for ASEAN countries which is an intergovernmental orgasation. We don't need this data as those countries have their own rows so we shall remove it later. The ISIC Division is a quick way to see which industry we are referring to. As numbers it is confusing but as a feature it is useful so I will give each industry a code later

---

# Section Cleaning data and Feature Engineering

First lets remove the Method feature and ASEAN rows from the Countries Column

In [22]:
# Remove 'Measure' feature
df_raw2 = df_raw.drop(columns=['Method'])

# Drop rows that have 'ASEAN' in the 'Country' column
df_raw2 = df_raw2[df_raw2['Country'] != 'ASEAN']

print(df_raw2.head())

    Country ISO3    Country  Year ISIC Division  \
209          ARG  Argentina  2000         10-12
210          ARG  Argentina  2000         13-15
211          ARG  Argentina  2000            16
212          ARG  Argentina  2000         17-18
213          ARG  Argentina  2000            19

                                    ISIC Division Desc         Measure  \
209  Manufacture of food products, beverages and to...  Current prices
210  Manufacture of textiles, wearing apparel, leat...  Current prices
211  Manufacture of wood and of products of wood an...  Current prices
212         Manufacture of paper products and printing  Current prices
213  Manufacture of coke and refined petroleum prod...  Current prices

     Value LCU (million national currency)  Value USD (million USD)
209                               16986.10                  16994.6
210                                5944.13                   5947.1
211                                1551.72                   1552.5
212                                4567.81                   4570.1
213                                2938.13                   2939.6

Next we'll check for any missing values

In [ ]:
# Check for Missing Values
missing_values = df_raw2.isnull().sum()
print(missing_values)

Country ISO3                             2566
Country                                     0
Year                                        0
ISIC Division                               0
ISIC Division Desc                          0
Measure                                     0
Value LCU (million national currency)      76
Value USD (million USD)                    76
dtype: int64

In [24]:
missing_country_iso3 = df_raw2[df_raw2['Country ISO3'].isnull()]
print(missing_country_iso3)

      Country ISO3                            Country  Year ISIC Division  \
418            NaN  Asia-Pacific Economic Cooperation  2000         10-12
419            NaN  Asia-Pacific Economic Cooperation  2000         13-15
420            NaN  Asia-Pacific Economic Cooperation  2000            16
421            NaN  Asia-Pacific Economic Cooperation  2000         17-18
422            NaN  Asia-Pacific Economic Cooperation  2000            19
...            ...                                ...   ...           ...
27326          NaN                              World  2018            22
27327          NaN                              World  2018            23
27328          NaN                              World  2018            24
27329          NaN                              World  2018         25-28
27330          NaN                              World  2018         29-30

                                      ISIC Division Desc         Measure  \
418    Manufacture of food products, beverages and to...  Current prices
419    Manufacture of textiles, wearing apparel, leat...  Current prices
420    Manufacture of wood and of products of wood an...  Current prices
421           Manufacture of paper products and printing  Current prices
422    Manufacture of coke and refined petroleum prod...  Current prices
...                                                  ...             ...
27326        Manufacture of rubber and plastics products  Current prices
27327  Manufacture of other non-metallic mineral prod...  Current prices
27328                        Manufacture of basic metals  Current prices
27329  Manufacture of fabricated metal products, mach...  Current prices
27330                 Manufacture of transport equipment  Current prices

       Value LCU (million national currency)  Value USD (million USD)
418                                      0.0                445396.09
419                                      0.0                173299.70
420                                      0.0                 65121.30
421                                      0.0                226176.59
422                                      0.0                151038.91
...                                      ...                      ...
27326                                    0.0                536332.81
27327                                    0.0                745028.38
27328                                    0.0               1055266.00
27329                                    0.0               3920982.75
27330                                    0.0               1676815.25

[2566 rows x 8 columns]

The missing values are in Asia Pacific corporation, which is missing an ISO3 code. We're intersted in countries not corporations so we can remove these rows. We will also remove the rows that have missing 'Value' entries

In [25]:
# Remove rows with missing values
df_cleaned = df_raw2.dropna()
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 24480 entries, 209 to 27121
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country ISO3                           24480 non-null  object
 1   Country                                24480 non-null  object
 2   Year                                   24480 non-null  int64
 3   ISIC Division                          24480 non-null  object
 4   ISIC Division Desc                     24480 non-null  object
 5   Measure                                24480 non-null  object
 6   Value LCU (million national currency)  24480 non-null  float64
 7   Value USD (million USD)                24480 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.7+ MB
None

In [28]:
# Check the values have been removed
missing_values = df_cleaned.isnull().sum()
print(missing_values)

Country ISO3                             0
Country                                  0
Year                                     0
ISIC Division                            0
ISIC Division Desc                       0
Measure                                  0
Value LCU (million national currency)    0
Value USD (million USD)                  0
dtype: int64

---

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)